header, main, footer {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}
ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}
